<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Malicious URl Detection</title>
    </head>
    <body>
        <h1 align = "center">Malicious URL Detection Using Data Analytics</h1>
        <br>
        <form align="center" action="/predict" method="post">
            <label for="url">URL:</label>
            <input type="text" name="url" id="url"><br><br>
            <button type="submit">Detect</button>
        </form>
    </body>
</html>